.root {
  --sidebar-color--active: #3cd466;
}
div.renderBox {
  color: #fff;
  background-color: #324d5b; /* 淺灰色背景 */
  padding: 20px; /* 內邊距 */
  margin-bottom: 15px; /* 底部外邊距 */
  border-radius: 8px; /* 圓角 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 陰影 */
}
dl dt {
  font-size: 20px; /* 文字大小 */
  line-height: 1.6; /* 行高，可用單位如 px 或比例 */
  font-weight: bold; /* 可選，加粗 */
  margin-bottom: 0.3em; /* 與定義的間距 */
  counter-reset: dd-counter; /* 初始化計數 */
}

/* 控制定義（dd）的字體大小和行高 */
dl dd {
  font-size: 16px; /* 文字大小 */
  line-height: 1.5; /* 行高 */
  margin-left: 1.5em; /* 縮排，讓 dd 向右 */
  margin-bottom: 0.5em; /* 與下一條定義間距 */
}

dl dd::before {
  counter-increment: dd-counter;
  content: counter(dd-counter) ". ";
  margin-right: 0.3em;
}
